Repository fbuireu/forever-pto: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:all, npm run lint:changed, npm run test:ut:changed

.lintstagedrc.json:

{
	"src/**/*.{ts,tsx,css}": ["npm run format:all", "npm run lint:changed"],
	"src/**/*.{test,spec}.{ts,tsx}": ["npm run test:ut:changed"]
}

ci: fix environment
  .github/workflows/cleanup-development.yml
Due: none

fix: seo redirect
  src/app/[locale]/(app)/planner/metadata.ts
  src/app/[locale]/(marketing)/metadata.ts
  src/app/robots.ts
  src/app/sitemap.ts
  src/infrastructure/i18n/routing.ts
  src/infrastructure/i18n/url.ts
  src/infrastructure/services/location/utils/detectCountryFromCDN.ts
  src/infrastructure/services/location/utils/detectCountryFromIP.ts
  src/ui/modules/pages/homepage/sections/Marquee.tsx
  src/ui/styles/base/index.css
Due: npm run format:all, npm run lint:changed

chore(release): 1.3.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  062d5b40317721a51fba03b385b3ff98b7906432
Due: none

fix: marquee wrapper
  src/app/[locale]/(marketing)/page.tsx
  src/ui/modules/pages/homepage/sections/Marquee.tsx
Due: npm run format:all, npm run lint:changed

ci: fix lock
  pnpm-lock.yaml
Due: none

chore(release): 1.3.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  8212b8330eb0af2178d587b1db5127836b666ed2
Due: none

fix: marquee speed
  src/ui/modules/pages/homepage/sections/Marquee.tsx
Due: npm run format:all, npm run lint:changed

ci: fix concurrency
  .github/workflows/renovate-auto-approve.yml
Due: none

chore(release): 1.3.6 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  0050d2f6e7881a732ee915f2f6a9d6b8b3147943
Due: none

test: add initial tests
  e2e/robots.spec.ts
  package.json
  pnpm-lock.yaml
  src/app/[locale]/(marketing)/page.tsx
  src/app/[locale]/layout.tsx
  src/app/fonts.ts
  src/app/global-error.tsx
  src/app/global-not-found.tsx
  src/app/robots.test.ts
  src/app/robots.ts
  src/app/sitemap.test.ts
  src/app/sitemap.ts
  src/infrastructure/i18n/config.ts
  src/middleware.test.ts
  src/middleware.ts
  src/ui/modules/core/primitives/Button.tsx
  src/ui/modules/pages/homepage/sections/Marquee.tsx
  src/ui/modules/pages/planner/Legend.tsx
  src/ui/modules/pages/planner/legend.module.css
  vitest.config.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

test: more tests api routes
  e2e/.well-known/well-known.spec.ts
  e2e/homepage.spec.ts
  src/app/.well-known/[...slug]/route.ts
  src/app/[locale]/(marketing)/error.tsx
  src/app/[locale]/error.tsx
  src/app/[locale]/layout.tsx
  src/app/global-error.tsx
  src/app/global-not-found.tsx
  src/infrastructure/well-known/agentSkillsIndex.test.ts
  src/infrastructure/well-known/agentSkillsIndex.ts
  src/infrastructure/well-known/apiCatalog.test.ts
  src/infrastructure/well-known/apiCatalog.ts
  src/infrastructure/well-known/mcpServerCard.test.ts
  src/infrastructure/well-known/mcpServerCard.ts
  src/ui/modules/pages/error/ErrorContent.tsx
  src/ui/modules/pages/error/types.ts
  src/ui/modules/providers/AppThemeProvider.tsx
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

refactor: stuff
  src/app/.well-known/[...slug]/route.ts
  src/app/[locale]/layout.tsx
  src/app/api/check-session/route.ts
  src/app/api/contact/route.ts
  src/app/api/health/route.ts
  src/app/api/markdown/route.ts
  src/app/api/payment/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/app/global-error.tsx
  src/app/global-not-found.tsx
  src/infrastructure/actions/payment.ts
  src/infrastructure/api/errors.ts
  src/infrastructure/api/response.ts
  src/infrastructure/i18n/config.ts
  src/infrastructure/i18n/url.ts
  src/infrastructure/markdown/buildMarkdownPage.ts
  src/infrastructure/services/premium/config.ts
  src/infrastructure/services/premium/cookie.ts
  src/infrastructure/services/premium/session.ts
  src/ui/i18n/messages/ca.json
  src/ui/i18n/messages/de.json
  src/ui/i18n/messages/en.json
  src/ui/i18n/messages/es.json
  src/ui/i18n/messages/fr.json
  src/ui/i18n/messages/it.json
Due: npm run format:all, npm run lint:changed

test: add pages reouter test
  environment.d.ts
  src/app/api/webhooks/stripe/route.test.ts
  src/ui/modules/core/primitives/RichLink.tsx
  src/ui/modules/pages/not-found/NotFoundContent.tsx
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

test: add pages reouter test
  src/ui/modules/pages/not-found/NotFoundContent.tsx
Due: npm run format:all, npm run lint:changed

test: add pages reouter test
  .lintstagedrc.json
  e2e/[locale]/not-found.spec.ts
  src/app/api/webhooks/stripe/route.test.ts
  src/app/sitemap.test.ts
  src/application/stores/premium.ts
  src/infrastructure/services/premium/cookie.ts
  src/ui/modules/export/HolidayDocument.tsx
  src/ui/modules/pages/planner/utils/helpers.ts
  src/ui/utils/currencies.ts
  src/ui/utils/dates.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

fix: config raw
  src/middleware.ts
Due: npm run format:all, npm run lint:changed

chore(release): 1.3.7 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  011cd700290ec73813b0dd76a5145dce02620063
Due: none

refactor: dtos
  src/app/[locale]/(app)/payment/confirmation/page.tsx
  src/application/dto/country/dto.ts
  src/application/dto/country/utils.ts
  src/application/dto/holiday/dto.ts
  src/application/dto/holiday/utils.ts
  src/application/dto/payment/dto.ts
  src/application/dto/payment/types.ts
  src/application/stores/holidays.ts
  src/infrastructure/services/payments/getPaymentConfirmation.ts
Due: npm run format:all, npm run lint:changed
