Repository fbuireu/forever-pto: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:all, npm run lint:changed, npm run test:ut:changed

.lintstagedrc.json:

{
	"src/**/*.{ts,tsx,css}": ["npm run format:all", "npm run lint:changed"],
	"src/**/*.{test,spec}.{ts,tsx}": ["npm run test:ut:changed"]
}

ci: remove prefix
  .github/renovate.json
Due: none

ci: harden workflows for zizmor findings
  .github/workflows/_deploy.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-development.yml
  .github/workflows/release.yml
  .github/workflows/zizmor.yml
Due: none

ci: pin digest
  .github/renovate.json
Due: none

chore(release): 1.4.6 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  0474aaaf4a5dbed488a5490d5028842a027de3ae
Due: none

fix(dates): use temporal-polyfill so Temporal works in Cloudflare Workers
  package.json
  pnpm-lock.yaml
  src/application/shared/utils/dates.ts
  src/domain/calendar/utils/helpers.ts
  src/ui/modules/pages/planner/summary/YearTimelineChart.tsx
  src/ui/utils/cookie.test.ts
  src/ui/utils/cookie.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

chore(release): 1.4.7 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f7706533c3a6e766b6dd1ebdc7b5813038872318
Due: none

ci(renovate): widen minimumReleaseAge to 4 days
  .github/renovate.json
Due: none

fix(deps): sync pnpm-lock.yaml with bumped package.json versions
  pnpm-lock.yaml
Due: none

fix(deps): sync stripe-js 9.8.0 in lockfile after #322 merge
  pnpm-lock.yaml
Due: none

feat: add after()
  biome.json
  package.json
  pnpm-lock.yaml
  src/app/api/check-session/route.ts
  src/app/api/contact/route.ts
  src/app/api/payment/route.ts
  src/application/use-cases/activatePremium.test.ts
  src/application/use-cases/activatePremium.ts
  src/application/use-cases/contact.test.ts
  src/application/use-cases/contact.ts
  src/application/use-cases/payment.test.ts
  src/application/use-cases/payment.ts
  src/infrastructure/actions/contact.ts
  src/infrastructure/actions/payment.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

chore: bump deps
  package.json
Due: none

fix: tests
  src/app/api/check-session/route.test.ts
  src/app/api/contact/route.test.ts
  src/app/api/payment/route.test.ts
  src/infrastructure/actions/contact.test.ts
  src/infrastructure/actions/payment.test.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  57383f466ddaa0fd41c2560140a9568497f456e4
Due: none

chore: pin node
  package.json
Due: none

chore: bump deps
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: none

chore: bump deps
  src/infrastructure/clients/payments/stripe/serverService.ts
Due: npm run format:all, npm run lint:changed

feat: adopt next 16 cache components
  next.config.ts
  src/app/.well-known/[...slug]/route.ts
  src/app/[locale]/(app)/payment/confirmation/loading.tsx
  src/app/[locale]/(app)/payment/confirmation/metadata.ts
  src/app/[locale]/(app)/payment/confirmation/page.tsx
  src/app/[locale]/(app)/planner/layout.test.tsx
  src/app/[locale]/(app)/planner/layout.tsx
  src/app/[locale]/(app)/planner/metadata.ts
  src/app/[locale]/(marketing)/legal/cookie-policy/metadata.ts
  src/app/[locale]/(marketing)/legal/cookie-policy/page.tsx
  src/app/[locale]/(marketing)/legal/legal-notice/metadata.ts
  src/app/[locale]/(marketing)/legal/legal-notice/page.tsx
  src/app/[locale]/(marketing)/legal/privacy-policy/metadata.ts
  src/app/[locale]/(marketing)/legal/privacy-policy/page.tsx
  src/app/[locale]/(marketing)/legal/terms-of-service/metadata.ts
  src/app/[locale]/(marketing)/legal/terms-of-service/page.tsx
  src/app/[locale]/(marketing)/metadata.ts
  src/app/[locale]/(marketing)/page.tsx
  src/app/api/markdown/route.ts
  src/app/global-not-found.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/application/i18n/navigation.ts
  src/infrastructure/services/countries/getCountries.ts
  src/infrastructure/services/env/getPublicEnv.ts
  src/ui/modules/core/primitives/RichLink.tsx
  src/ui/modules/layout/LegalLayout.tsx
  src/ui/modules/pages/homepage/sections/Hero.tsx
  src/ui/modules/pages/homepage/sections/Testimonials.tsx
  src/ui/modules/pages/not-found/HtmlLangSync.tsx
  src/ui/modules/shared/footer/Footer.tsx
  src/ui/modules/shared/footer/components/DevFooter.tsx
  src/ui/modules/shared/seo/JsonLd.tsx
  src/ui/modules/sidebar/components/Countries.tsx
  src/ui/utils/getCurrentYear.ts
  vitest.setup.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

fix: redirect payment confirmation without intent at the proxy
  src/middleware.test.ts
  src/middleware.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

fix: load intl messages statically to survive worker isolate reuse
  src/infrastructure/i18n/config.ts
  src/ui/modules/pages/not-found/HtmlLangSync.tsx
Due: npm run format:all, npm run lint:changed

feat: log direct payment confirmation hits from the proxy
  src/middleware.test.ts
  src/middleware.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

fix: never let missing logging config crash a request
  src/infrastructure/clients/logging/better-stack/client.test.ts
  src/infrastructure/clients/logging/better-stack/client.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

style: sort i18n config imports
  src/infrastructure/i18n/config.ts
Due: npm run format:all, npm run lint:changed

feat: capture unhandled request errors to BetterStack
  src/instrumentation.ts
Due: npm run format:all, npm run lint:changed

fix: make the planner statically prerenderable to avoid runtime 500
  src/ui/modules/core/animate/base/Sidebar.tsx
  src/ui/modules/shared/seo/JsonLd.tsx
  src/ui/modules/sidebar/AppSidebar.tsx
  src/ui/modules/sidebar/components/Countries.tsx
Due: npm run format:all, npm run lint:changed

fix: show a Boneyard skeleton instead of a blank planner while it streams
  src/app/[locale]/(app)/planner/layout.tsx
  src/ui/modules/pages/planner/PlannerSkeleton.tsx
Due: npm run format:all, npm run lint:changed

feat: enable cache components
  next-env.d.ts
  next.config.ts
  patches/boneyard-js.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app/.well-known/[...slug]/route.ts
  src/app/[locale]/(app)/payment/confirmation/loading.tsx
  src/app/[locale]/(app)/payment/confirmation/metadata.ts
  src/app/[locale]/(app)/payment/confirmation/page.tsx
  src/app/[locale]/(app)/planner/metadata.ts
  src/app/[locale]/(marketing)/legal/cookie-policy/metadata.ts
  src/app/[locale]/(marketing)/legal/cookie-policy/page.tsx
  src/app/[locale]/(marketing)/legal/legal-notice/metadata.ts
  src/app/[locale]/(marketing)/legal/legal-notice/page.tsx
  src/app/[locale]/(marketing)/legal/privacy-policy/metadata.ts
  src/app/[locale]/(marketing)/legal/privacy-policy/page.tsx
  src/app/[locale]/(marketing)/legal/terms-of-service/metadata.ts
  src/app/[locale]/(marketing)/legal/terms-of-service/page.tsx
  src/app/[locale]/(marketing)/metadata.ts
  src/app/[locale]/(marketing)/page.tsx
  src/app/api/markdown/route.ts
  src/app/global-not-found.tsx
  src/infrastructure/services/env/getPublicEnv.ts
  src/ui/modules/core/animate/base/Sidebar.tsx
  src/ui/modules/pages/homepage/sections/Hero.tsx
  src/ui/modules/pages/homepage/sections/Testimonials.tsx
  src/ui/modules/pages/not-found/HtmlLangSync.tsx
  src/ui/modules/pages/planner/calendar/Calendar.tsx
  src/ui/modules/pages/planner/calendar/utils/helpers.ts
  src/ui/modules/pages/planner/utils/modifiers.ts
  src/ui/modules/shared/footer/Footer.tsx
  src/ui/modules/shared/footer/components/DevFooter.tsx
  src/ui/modules/shared/seo/JsonLd.tsx
  src/ui/modules/sidebar/AppSidebar.tsx
  src/ui/modules/sidebar/components/PtoCalculator.tsx
  src/ui/modules/sidebar/components/Years.tsx
  src/ui/utils/getCurrentYear.ts
  src/ui/utils/getLastUpdatedDate.ts
  vitest.setup.ts
Due: npm run format:all, npm run lint:changed

fix: handle payment redirect and markdown caching at the proxy level
  src/middleware.test.ts
  src/middleware.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

refactor: remove explanatory comments from middleware
  src/middleware.ts
Due: npm run format:all, npm run lint:changed

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  7ed50ab6fafb02bf67d0f30ef88bab3ae75b83b9
Due: none
