Repository fbuireu/forever-pto: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:all, npm run lint:changed, npm run test:ut:changed

.lintstagedrc.json:

{
	"src/**/*.{ts,tsx,css}": ["npm run format:all", "npm run lint:changed"],
	"src/**/*.{test,spec}.{ts,tsx}": ["npm run test:ut:changed"]
}

Notes added by 'git notes add'
  25b517cc7874e684f0a6b6ff94951c2f906a633e
Due: none

test: test hooks
  .npmrc
  package.json
  pnpm-lock.yaml
  src/app/global-error.test.tsx
  src/infrastructure/clients/logging/better-stack/tracking.ts
  src/infrastructure/workers/types.ts
  src/infrastructure/workers/worker.test.ts
  src/ui/hooks/useAutoHeight.test.ts
  src/ui/hooks/useAutoHeight.tsx
  src/ui/hooks/useCalculationsWorker.test.ts
  src/ui/hooks/useControlledState.test.ts
  src/ui/hooks/useDebounce.test.ts
  src/ui/hooks/useIsInView.test.ts
  src/ui/hooks/useLanguages.test.ts
  src/ui/hooks/useMobile.test.ts
  src/ui/hooks/useMobile.ts
  src/ui/hooks/useStoresReady.test.ts
  src/ui/hooks/useStoresReady.ts
  src/ui/hooks/useTutorial.test.ts
  src/ui/hooks/useTutorial.tsx
  src/ui/i18n/messages/ca.json
  src/ui/i18n/messages/de.json
  src/ui/i18n/messages/en.json
  src/ui/i18n/messages/es.json
  src/ui/i18n/messages/fr.json
  src/ui/i18n/messages/it.json
  src/ui/modules/pages/homepage/sections/Hero.tsx
  src/ui/modules/shared/cookie-consent/CookieConsent.tsx
  src/ui/modules/stores/StoresInitializer.tsx
  vitest.config.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

test: test hooks
  src/ui/modules/tutorial/DriverStyles.tsx
  src/ui/styles/lazy/index.css
  src/ui/utils/context.test.tsx
  src/ui/utils/context.tsx
  vitest.config.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

test: test hooks
  src/app/global-error.test.tsx
  vitest.config.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

test: test hooks
  src/ui/modules/core/animate/base/Accordion.tsx
  src/ui/modules/core/animate/base/Checkbox.tsx
  src/ui/modules/core/animate/base/Collapsible.tsx
  src/ui/modules/core/animate/base/Dialog.tsx
  src/ui/modules/core/animate/base/Sidebar.tsx
  src/ui/modules/shared/cookie-consent/CookieConsent.tsx
  src/ui/modules/stores/StoresInitializer.tsx
Due: npm run format:all, npm run lint:changed

test: test hooks
  src/application/email/templates/Contact.test.tsx
  src/application/stores/crypto.test.ts
  src/infrastructure/clients/tutorial/driver/client.test.ts
  src/infrastructure/services/holidays/utils/holidays.test.ts
  src/infrastructure/services/location/utils/strategies.test.ts
  src/infrastructure/services/premium/cookie.test.ts
  src/infrastructure/services/premium/session.test.ts
  src/infrastructure/services/regions/getRegions.test.ts
  src/infrastructure/workers/utils/serializers.test.ts
  src/infrastructure/workers/worker.test.ts
  src/ui/hooks/useCalculationsWorker.test.ts
  src/ui/modules/core/animate/base/Checkbox.tsx
  src/ui/modules/pages/homepage/sections/Hero.tsx
  src/ui/utils/context.test.tsx
  workers/tail/index.test.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

test: test hooks
  src/infrastructure/workers/utils/serializers.test.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

test: test hooks
  src/ui/hooks/useStoresReady.test.ts
  src/ui/hooks/useTutorial.test.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

test: test initial components
  src/ui/modules/core/animate/base/Accordion.test.tsx
  src/ui/modules/core/animate/base/Checkbox.test.tsx
  src/ui/modules/core/animate/base/Collapsible.test.tsx
  src/ui/modules/core/animate/base/Collapsible.tsx
  src/ui/modules/core/animate/base/Dialog.test.tsx
  src/ui/modules/core/animate/base/Dialog.tsx
  src/ui/modules/core/animate/base/Drawer.test.tsx
  src/ui/modules/core/animate/base/Drawer.tsx
  src/ui/modules/core/animate/base/DropdownMenu.test.tsx
  src/ui/modules/core/animate/base/DropdownMenu.tsx
  src/ui/modules/core/animate/base/Popover.test.tsx
  src/ui/modules/core/animate/base/Popover.tsx
  src/ui/modules/core/animate/base/Sidebar.test.tsx
  src/ui/modules/core/animate/base/Sidebar.tsx
  src/ui/modules/core/animate/base/Slot.test.tsx
  src/ui/modules/core/animate/base/Slot.tsx
  src/ui/modules/core/animate/base/Tooltip.test.tsx
  src/ui/modules/core/animate/base/Tooltip.tsx
  src/ui/modules/core/animate/components/Counter.tsx
  src/ui/modules/core/animate/components/FeatureList.tsx
  src/ui/modules/core/animate/components/RadialNav.tsx
  src/ui/modules/core/animate/components/Tabs.tsx
  src/ui/modules/core/animate/effects/MotionHighlight.tsx
  src/ui/modules/core/animate/primitives/base/Dialog.tsx
  src/ui/modules/core/animate/primitives/base/Popover.tsx
  src/ui/modules/core/animate/primitives/base/Switch.tsx
  src/ui/modules/core/primitives/Form.tsx
  src/ui/modules/core/primitives/Progress.tsx
  src/ui/modules/pages/planner/Roadmap.tsx
  src/ui/utils/cookie.test.ts
  src/ui/utils/cookie.ts
  vitest.config.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

style: fix biome
  src/ui/modules/core/animate/base/Collapsible.test.tsx
  src/ui/modules/core/animate/base/Slot.tsx
  src/ui/modules/core/animate/primitives/base/Switch.tsx
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

chore(release): 1.4.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1a125bf601ff622778b34816cb8c803e9b7c2487
Due: none

fix: show current flag
  src/ui/modules/pages/homepage/sections/Hero.tsx
Due: npm run format:all, npm run lint:changed

test: add animate components
  src/ui/modules/core/animate/components/Counter.test.tsx
  src/ui/modules/core/animate/components/FeatureList.test.tsx
  src/ui/modules/core/animate/components/RadialNav.test.tsx
  src/ui/modules/core/animate/components/RadialNav.tsx
  src/ui/modules/core/animate/components/Tabs.test.tsx
  src/ui/modules/core/animate/components/Tabs.tsx
  vitest.setup.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

chore(release): 1.4.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

fix: permissions ci
  .github/workflows/ci.yml
  src/app/[locale]/(marketing)/page.tsx
Due: npm run format:all, npm run lint:changed

Notes added by 'git notes add'
  ee12549619decb5ca38bc6c796e9cf1d0dc075bc
Due: none

fix: slide parent tab
  src/ui/modules/core/animate/components/Tabs.tsx
Due: npm run format:all, npm run lint:changed

chore(release): 1.4.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d99c9eb7547c1009839b43b610a7c9cd5c63fcf5
Due: none

chore: bump deps
  .npmrc
  package.json
  pnpm-lock.yaml
  src/ui/modules/core/animate/effects/AutoHeight.test.tsx
  src/ui/modules/core/animate/effects/MotionHighlight.test.tsx
  src/ui/modules/core/animate/effects/MotionHighlight.tsx
  src/ui/modules/core/animate/primitives/animate/MotionSlot.tsx
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed
