Repository fbuireu/forever-pto: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:all, npm run lint:changed, npm run test:ut:changed

.lintstagedrc.json:

{
	"src/**/*.{ts,tsx,css}": ["npm run format:all", "npm run lint:changed"],
	"src/**/*.{test,spec}.{ts,tsx}": ["npm run test:ut:changed"]
}

refactor: dtos
  src/app/[locale]/(app)/payment/confirmation/page.tsx
  src/application/dto/country/dto.ts
  src/application/dto/country/utils.ts
  src/application/dto/holiday/dto.ts
  src/application/dto/holiday/utils.ts
  src/application/dto/payment/dto.ts
  src/application/dto/payment/types.ts
  src/application/stores/holidays.ts
  src/infrastructure/services/payments/getPaymentConfirmation.ts
Due: npm run format:all, npm run lint:changed

refactor: simplify
  src/application/dto/contact/types.ts
  src/application/dto/holiday/dto.ts
  src/application/dto/holiday/utils.ts
  src/application/dto/payment/dto.ts
  src/application/dto/payment/types.ts
  src/application/dto/payment/utils.ts
  src/application/stores/holidays.ts
  src/application/use-cases/activate-premium.ts
  src/application/use-cases/payment.ts
  src/domain/payment/handlers/payment-succeeded.ts
  src/infrastructure/actions/payment.ts
  src/infrastructure/services/holidays/getHolidays.ts
  src/infrastructure/services/payments/utils/helpers.ts
Due: npm run format:all, npm run lint:changed

test: add dto tests
  src/application/dto/contact/schema.test.ts
  src/application/dto/contact/types.ts
  src/application/dto/country/dto.test.ts
  src/application/dto/country/utils.test.ts
  src/application/dto/holiday/dto.test.ts
  src/application/dto/holiday/utils.test.ts
  src/application/dto/payment/dto.test.ts
  src/application/dto/payment/schema.test.ts
  src/application/dto/payment/utils.test.ts
  src/application/dto/payment/utils.ts
  src/application/dto/region/dto.test.ts
  src/application/i18n/navigation.test.ts
  src/application/use-cases/contact.ts
  src/infrastructure/actions/contact.ts
  src/infrastructure/services/payments/utils/helpers.ts
  src/ui/modules/shared/donate/Donate.tsx
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

test: add stores tests
  src/application/dto/country/utils.ts
  src/application/dto/holiday/dto.test.ts
  src/application/dto/holiday/dto.ts
  src/application/stores/CONTEXT.md
  src/application/stores/crypto.ts
  src/application/stores/filters.test.ts
  src/application/stores/filters.ts
  src/application/stores/holidays.test.ts
  src/application/stores/holidays.ts
  src/application/stores/location.test.ts
  src/application/stores/location.ts
  src/application/stores/premium.test.ts
  src/application/stores/premium.ts
  src/application/stores/types.ts
  src/application/stores/ui.test.ts
  src/application/stores/ui.ts
  src/application/stores/utils.test.ts
  src/application/stores/utils.ts
  src/infrastructure/services/calendar/metrics/utils/helpers.ts
  src/infrastructure/services/holidays/getHolidays.ts
  src/infrastructure/services/session/checkSession.ts
  src/ui/modules/pages/homepage/navigation/HomepageLanguageSwitcher.tsx
  src/ui/modules/pages/homepage/navigation/SupportButton.tsx
  src/ui/modules/pages/planner/SiteTitleYear.tsx
  src/ui/modules/pages/planner/Summary.tsx
  src/ui/modules/pages/planner/utils/helpers.ts
  src/ui/modules/premium/CheckoutForm.tsx
  src/ui/modules/shared/donate/Donate.tsx
  src/ui/modules/sidebar/components/CalendarExport.tsx
  src/ui/modules/sidebar/components/LanguageSelector.tsx
  src/ui/modules/sidebar/components/PtoSalaryCalculator.tsx
  src/ui/modules/sidebar/components/Years.tsx
  src/ui/utils/currencies.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

test: add use-cases tests
  src/app/api/contact/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/application/shared/zodParse.test.ts
  src/application/shared/zodParse.ts
  src/application/use-cases/activate-premium.test.ts
  src/application/use-cases/contact.test.ts
  src/application/use-cases/contact.ts
  src/application/use-cases/payment.test.ts
  src/application/use-cases/payment.ts
  src/application/use-cases/webhook.test.ts
  src/application/use-cases/webhook.ts
  src/infrastructure/actions/contact.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

test: add domain tests
  src/application/use-cases/webhook.test.ts
  src/application/use-cases/webhook.ts
  src/domain/payment/CONTEXT.md
  src/domain/payment/events/factory/events.test.ts
  src/domain/payment/events/factory/events.ts
  src/domain/payment/events/factory/utils.ts
  src/domain/payment/events/types.ts
  src/domain/payment/handlers/payment-failed.test.ts
  src/domain/payment/handlers/payment-failed.ts
  src/domain/payment/handlers/payment-succeeded.test.ts
  src/domain/payment/handlers/payment-succeeded.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

chore: migrate node 26
  .nvmrc
  package.json
  pnpm-lock.yaml
  vitest.setup.ts
Due: none

chore: migrate node 26
  src/app/[locale]/(app)/payment/confirmation/page.test.tsx
  src/application/dto/holiday/dto.test.ts
  src/application/dto/payment/dto.test.ts
  src/domain/payment/events/factory/events.test.ts
  src/domain/payment/events/factory/events.ts
  src/infrastructure/i18n/utils/url.ts
  src/ui/modules/pages/planner/CalendarList.tsx
  src/ui/modules/pages/planner/holidays/components/EditHolidayModal.tsx
  src/ui/modules/pages/planner/support/Troubleshooting.tsx
  src/ui/modules/shared/contact/ContactModal.tsx
  src/ui/modules/shared/donate/Donate.tsx
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

refactor: small tweaks
  src/application/stores/crypto.test.ts
  src/application/stores/holidays.test.ts
  src/ui/modules/core/animate/base/Tooltip.tsx
  src/ui/modules/core/animate/components/Counter.tsx
  src/ui/modules/core/animate/primitives/base/Switch.tsx
  src/ui/modules/core/primitives/Button.tsx
  src/ui/modules/core/primitives/Input.tsx
  src/ui/modules/core/primitives/InputGroup.tsx
  src/ui/modules/core/primitives/Sonner.tsx
  src/ui/modules/core/primitives/Textarea.tsx
  src/ui/modules/pages/error/ErrorContent.tsx
  src/ui/modules/pages/homepage/navigation/Navigation.tsx
  src/ui/modules/pages/homepage/sections/Comparison.tsx
  src/ui/modules/pages/homepage/sections/Features.tsx
  src/ui/modules/pages/homepage/sections/Hero.tsx
  src/ui/modules/pages/homepage/sections/HowItWorks.tsx
  src/ui/modules/pages/homepage/sections/Pricing.tsx
  src/ui/modules/pages/homepage/sections/Stats.tsx
  src/ui/modules/pages/homepage/sections/Testimonials.tsx
  src/ui/modules/pages/not-found/NotFoundContent.tsx
  src/ui/modules/pages/planner/PlannerPanel.tsx
  src/ui/modules/pages/planner/SiteTitle.tsx
  src/ui/modules/pages/planner/calendar/Calendar.tsx
  src/ui/modules/pages/planner/summary/YearTimelineChart.tsx
  src/ui/modules/premium/PremiumFeature.tsx
  src/ui/modules/shared/Logo.tsx
  src/ui/modules/shared/contact/ContactModal.tsx
  src/ui/modules/shared/donate/donate.css
  src/ui/modules/shared/footer/Footer.tsx
  src/ui/modules/sidebar/AppSidebar.tsx
  src/ui/styles/global/index.css
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

refactor: small tweaks
  src/application/stores/crypto.test.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

fix: test variant
  src/application/stores/holidays.test.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

chore(release): 1.3.8 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  56248badcf39e81c3e2e1b4aec02ba131f814f74
Due: none

test: add more tests
  environment.d.ts
  src/app/[locale]/(app)/payment/confirmation/page.test.tsx
  src/infrastructure/clients/logging/better-stack/tracking.ts
  src/ui/modules/shared/WebMCP.tsx
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

test: add more tests
  src/infrastructure/workers/worker.test.ts
  src/ui/modules/premium/CheckoutForm.tsx
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

feat: add flags
  package.json
  pnpm-lock.yaml
  src/application/dto/country/dto.test.ts
  src/application/dto/country/dto.ts
  src/application/dto/country/utils/flag.test.ts
  src/application/dto/country/utils/flag.ts
  src/application/stores/location.test.ts
  src/infrastructure/services/countries/getCountries.test.ts
  src/ui/adapters/payments/checkout.test.ts
  src/ui/adapters/session/checkSession.test.ts
  src/ui/modules/core/primitives/Combobox.tsx
  src/ui/modules/core/primitives/FlagIcon.tsx
  src/ui/modules/pages/homepage/sections/Features.tsx
  src/ui/modules/pages/homepage/sections/Hero.tsx
  src/ui/modules/pages/planner/Summary.tsx
  src/ui/modules/shared/footer/components/DevFooter.tsx
  src/ui/styles/vendor/index.css
  vitest.config.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

fix: ntfs
  src/ui/assets/icons/buyMeACoffee.ts
Due: npm run format:all, npm run lint:changed

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none
