Repository fbuireu/forever-pto: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:all, npm run lint:changed, npm run test:ut:changed

.lintstagedrc.json:

{
	"src/**/*.{ts,tsx,css}": ["npm run format:all", "npm run lint:changed"],
	"src/**/*.{test,spec}.{ts,tsx}": ["npm run test:ut:changed"]
}

fix: bug manual days
  next.config.ts
  src/app/[locale]/page.tsx
  src/application/stores/holidays.ts
  src/ui/modules/components/faq/FaqTabs.tsx
  src/ui/modules/components/home/Faq.tsx
Due: npm run format:all, npm run lint:changed

fix: bug manual days
  src/infrastructure/workers/calculations/calculations.types.ts
  src/infrastructure/workers/calculations/calculations.worker.ts
  src/ui/hooks/useCalculationsWorker.ts
Due: npm run format:all, npm run lint:changed

chore: pin deps
  package.json
  pnpm-lock.yaml
  src/app/[locale]/page.tsx
Due: npm run format:all, npm run lint:changed

ci: fix Node versioning
  .github/renovate.json
Due: none

chore: pin node
  package.json
Due: none

docs: update todo
  src/app/[locale]/page.tsx
Due: npm run format:all, npm run lint:changed

ci: test environments deploy
  .github/workflows/_deploy.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-development.yml
  .github/workflows/deploy-production.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  environment.d.ts
  package.json
  pnpm-lock.yaml
  release-please-config.json
  src/app/[locale]/legal/cookie-policy/page.tsx
  src/app/[locale]/legal/legal-notice/page.tsx
  src/app/[locale]/legal/privacy-policy/page.tsx
  src/app/[locale]/legal/terms-of-service/page.tsx
  src/app/[locale]/page.tsx
  src/application/use-cases/contact.ts
  wrangler.toml
Due: npm run format:all, npm run lint:changed

ci: test environments deploy
  .github/workflows/_deploy.yml
  .github/workflows/ci.yml
Due: none

ci: test environments deploy
  .github/renovate.json
  src/const/components/ui/label.tsx
  src/const/components/ui/separator.tsx
  src/ui/modules/components/appSidebar/components/PtoCalculator.tsx
  src/ui/modules/components/appSidebar/components/PtoSalaryCalculator.tsx
  src/ui/modules/components/core/CookieConsent.tsx
  vitest.config.ts
Due: npm run format:all, npm run lint:changed

ci: fix prod release
  biome.json
  src/const/components/ui/command.tsx
  src/const/components/ui/label.tsx
  src/const/components/ui/separator.tsx
  src/const/lib/slot.tsx
  src/ui/modules/components/premium/PremiumFeature.tsx
Due: npm run format:all, npm run lint:changed

ci: fix prod release
  src/infrastructure/clients/logging/better-stack/client.ts
Due: npm run format:all, npm run lint:changed

ci: fix prod release
  src/app/[locale]/payment/confirmation/page.tsx
Due: npm run format:all, npm run lint:changed

ci: fix prod release
  .github/workflows/deploy-development.yml
  .github/workflows/deploy-production.yml
  next-env.d.ts
Due: none

ci: fix prod release
  .github/workflows/_deploy.yml
  .github/workflows/release.yml
  .releaserc.json
  package.json
  wrangler.toml
Due: none

ci: fix lock file
  pnpm-lock.yaml
Due: none

ci: fix lock file
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: none

ci: fix lock file
  .releaserc.json
  package.json
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  f4dcb49b6c9323ece7c607bfd8aadbd61939edf7
Due: none

ci: fix lock file
  .github/workflows/release.yml
  .releaserc.json
  package.json
  pnpm-lock.yaml
Due: none

ci: test dev branch deployment
  src/app/[locale]/page.tsx
Due: npm run format:all, npm run lint:changed

ci: test dev branch deployment
  src/app/[locale]/page.tsx
  wrangler.toml
Due: npm run format:all, npm run lint:changed

ci: test dev branch deployment
  wrangler.toml
Due: none

fix: ci sample log
  src/app/[locale]/page.tsx
  wrangler.toml
Due: npm run format:all, npm run lint:changed

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6cff7ae575da710261f6768905dd8607cefc06ba
Due: none

fix: ci
  .github/workflows/_deploy.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  src/app/[locale]/page.tsx
Due: npm run format:all, npm run lint:changed

fix: ci
  src/app/[locale]/page.tsx
Due: npm run format:all, npm run lint:changed

fix: ci
  .github/workflows/_deploy.yml
  wrangler.toml
Due: none

ci: add e2e
  .github/workflows/deploy-development.yml
  e2e/example.spec.ts
  package.json
  playwright.config.ts
  src/lib/utils.test.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

fix: ci
  .nvmrc
Due: none

fix: variables ci
  .github/workflows/_deploy.yml
  .github/workflows/deploy-development.yml
  playwright.config.ts
  wrangler.toml
Due: none

test ci (#276)
  .github/workflows/_deploy.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-development.yml
  .github/workflows/release.yml
  .nvmrc
  e2e/example.spec.ts
  package.json
  playwright.config.ts
  src/app/[locale]/page.tsx
  src/lib/utils.test.ts
  wrangler.toml
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

fix: ci vars
  .github/workflows/_deploy.yml
  .github/workflows/deploy-development.yml
Due: none

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  28ccdfc8c92cb6c73e4cc4fc712593577d9841bc
Due: none
