Repository fbuireu/forever-pto: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:all, npm run lint:changed, npm run test:ut:changed

.lintstagedrc.json:

{
	"src/**/*.{ts,tsx,css}": ["npm run format:all", "npm run lint:changed"],
	"src/**/*.{test,spec}.{ts,tsx}": ["npm run test:ut:changed"]
}

fix: prevent hover flicker on elements that translate on hover
  biome.json
  src/ui/modules/core/animate/base/Accordion.tsx
  src/ui/modules/core/animate/base/Collapsible.tsx
  src/ui/modules/core/animate/base/Dialog.tsx
  src/ui/modules/core/animate/base/Sidebar.tsx
  src/ui/modules/core/animate/base/Tooltip.tsx
  src/ui/modules/core/primitives/Badge.tsx
  src/ui/modules/core/primitives/Button.tsx
  src/ui/modules/core/primitives/Slider.tsx
  src/ui/modules/pages/homepage/sections/Features.tsx
  src/ui/modules/pages/homepage/sections/Hero.tsx
  src/ui/modules/pages/homepage/sections/HowItWorks.tsx
  src/ui/modules/pages/homepage/sections/Pricing.tsx
  src/ui/modules/pages/homepage/sections/Testimonials.tsx
  src/ui/modules/pages/planner/Summary.tsx
  src/ui/modules/pages/planner/calendar/utils/helpers.ts
  src/ui/modules/pages/planner/legend.module.css
  src/ui/styles/index.css
  src/ui/styles/lazy/index.css
  src/ui/styles/utilities/index.css
Due: npm run format:all, npm run lint:changed

chore: bump deps
  next.config.ts
  package.json
  patches/boneyard-js.patch
  pnpm-lock.yaml
Due: none

fix: prevent hover flicker on elements that translate on hover (#331)
  biome.json
  next.config.ts
  package.json
  patches/boneyard-js.patch
  pnpm-lock.yaml
  src/ui/modules/core/animate/base/Accordion.tsx
  src/ui/modules/core/animate/base/Collapsible.tsx
  src/ui/modules/core/animate/base/Dialog.tsx
  src/ui/modules/core/animate/base/Sidebar.tsx
  src/ui/modules/core/animate/base/Tooltip.tsx
  src/ui/modules/core/primitives/Badge.tsx
  src/ui/modules/core/primitives/Button.tsx
  src/ui/modules/core/primitives/Slider.tsx
  src/ui/modules/pages/homepage/sections/Features.tsx
  src/ui/modules/pages/homepage/sections/Hero.tsx
  src/ui/modules/pages/homepage/sections/HowItWorks.tsx
  src/ui/modules/pages/homepage/sections/Pricing.tsx
  src/ui/modules/pages/homepage/sections/Testimonials.tsx
  src/ui/modules/pages/planner/Summary.tsx
  src/ui/modules/pages/planner/calendar/utils/helpers.ts
  src/ui/modules/pages/planner/legend.module.css
  src/ui/styles/index.css
  src/ui/styles/lazy/index.css
  src/ui/styles/utilities/index.css
Due: npm run format:all, npm run lint:changed

chore(release): 1.6.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  38370a110d385b43578435354dddf5724c773e6b
Due: none

docs: scaffold Astro Starlight docs package in pnpm workspace
  .gitignore
  biome.json
  docs/astro.config.ts
  docs/package.json
  docs/public/favicon.svg
  docs/public/robots.txt
  docs/src/assets/logo-dark.svg
  docs/src/assets/logo-light.svg
  docs/src/content.config.ts
  docs/src/content/docs/architecture/overview.mdx
  docs/src/content/docs/contributing/conventions.mdx
  docs/src/content/docs/design-system/animation/icons.mdx
  docs/src/content/docs/design-system/components/overview.mdx
  docs/src/content/docs/design-system/foundations/philosophy.mdx
  docs/src/content/docs/design-system/patterns/homepage.mdx
  docs/src/content/docs/how-it-works/country-detection.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/infra/environments.mdx
  docs/src/content/docs/reference/cookies.mdx
  docs/src/content/docs/start/introduction.mdx
  docs/src/styles/global.css
  docs/tsconfig.json
  docs/wrangler.jsonc
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
  vitest.config.ts
Due: none

docs: add live demo framework and Button tracer page
  .gitignore
  docs/e2e/docs.spec.ts
  docs/playwright.config.ts
  docs/src/components/Demo.tsx
  docs/src/components/ShadowScale.tsx
  docs/src/components/TokenSwatch.tsx
  docs/src/components/TypeSpecimen.tsx
  docs/src/components/VariantsTable.tsx
  docs/src/components/demos/ButtonDemo.tsx
  docs/src/content/docs/design-system/components/button.mdx
Due: none

docs: add independent CI, app link and repo payoff
  .github/workflows/docs.yml
  README.md
  docs/CONTEXT.md
  docs/astro.config.ts
  docs/public/og.png
  docs/src/content.config.ts
  src/app/[locale]/(marketing)/page.tsx
  src/ui/i18n/messages/ca.json
  src/ui/i18n/messages/de.json
  src/ui/i18n/messages/en.json
  src/ui/i18n/messages/es.json
  src/ui/i18n/messages/fr.json
  src/ui/i18n/messages/it.json
  src/ui/modules/shared/footer/Footer.tsx
Due: npm run format:all, npm run lint:changed

docs: apply adversarial review fixes
  .github/workflows/docs.yml
  docs/src/content/docs/architecture/error-pages.mdx
  docs/src/content/docs/architecture/images.mdx
  docs/src/content/docs/architecture/middleware.mdx
  docs/src/content/docs/architecture/overview.mdx
  docs/src/content/docs/design-system/components/input-group.mdx
  docs/src/content/docs/design-system/components/input.mdx
  docs/src/content/docs/es/start/introduction.mdx
  docs/src/content/docs/infra/docs-ci.mdx
  docs/src/content/docs/infra/workflows.mdx
  docs/src/content/docs/reference/glossary.mdx
Due: none

docs: skip PR preview gracefully until the Worker exists
  .github/workflows/docs.yml
  docs/src/content/docs/infra/docs-ci.mdx
Due: none

docs: use TOML for the docs wrangler config
  docs/CONTEXT.md
  docs/src/content/docs/infra/cloudflare.mdx
  docs/src/content/docs/infra/docs-ci.mdx
  docs/src/content/docs/start/repo-structure.mdx
  docs/wrangler.jsonc
  docs/wrangler.toml
Due: none

fix: make roadmap feature list and tooltips work on touch devices
  src/ui/modules/core/animate/components/FeatureList.tsx
  src/ui/modules/core/animate/primitives/base/Tooltip.test.tsx
  src/ui/modules/core/animate/primitives/base/Tooltip.tsx
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

fix: adopt Base UI popover semantics for touch-capable tooltips
  src/ui/modules/core/animate/components/FeatureList.tsx
  src/ui/modules/core/animate/primitives/base/Tooltip.test.tsx
  src/ui/modules/core/animate/primitives/base/Tooltip.tsx
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

fix: keep the cookie banner from covering half the mobile viewport
  src/ui/modules/core/animate/components/FeatureList.tsx
  src/ui/modules/shared/cookie-consent/CookieConsent.tsx
Due: npm run format:all, npm run lint:changed

fix: mobile tap support for tooltips and unblock content under the cookie banner (#333)
  src/ui/modules/core/animate/primitives/base/Tooltip.test.tsx
  src/ui/modules/core/animate/primitives/base/Tooltip.tsx
  src/ui/modules/shared/cookie-consent/CookieConsent.tsx
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

chore(release): 1.6.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  0d6430d1e5e0b7431fcd263bb57c04f1e154f8b1
Due: none

ci: cache playwright browsers
  .github/workflows/deploy-development.yml
  playwright.config.ts
Due: none

ci: cache playwright browsers (#334)
  .github/workflows/deploy-development.yml
  playwright.config.ts
Due: none

fix(ci): unblock prod deploy after dependabot next bump
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(ci): unblock prod deploy after dependabot next bump (#336)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(release): 1.6.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1a79a70c401e1d01413d2289894952394613c740
Due: none

chore(deps): drop minimumReleaseAge exclusions [skip ci]
  pnpm-workspace.yaml
Due: none

ci: pin an explicit wrangler deploy message so long commit messages cannot break the deploy
  .github/workflows/_deploy.yml
Due: none

ci: retry preview Worker deletion with backoff
  .github/workflows/cleanup-development.yml
Due: none

ci: retry Cloudflare Workers deploy and secret bulk with backoff
  .github/workflows/_deploy.yml
Due: none

chore(deps): migrate the toolchain to TypeScript 7
  .gitignore
  package.json
  pnpm-lock.yaml
  src/ui/hooks/useCalculationsWorker.test.ts
  tsconfig.json
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

fix(logging): stop the BetterStack client throwing when it is unconfigured
  src/infrastructure/clients/logging/better-stack/client.test.ts
  src/infrastructure/clients/logging/better-stack/client.ts
  src/infrastructure/clients/logging/better-stack/tracking.test.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

docs: rebuild the guide set, glossary and ADRs, and make the contract executable
  .env.example
  .github/workflows/_deploy.yml
  CLAUDE.md
  CONTEXT.md
  README.md
  biome.json
  docs/adr/0000-adr-template.md
  docs/adr/0001-planner-runs-in-the-browser.md
  docs/adr/0002-effect-for-external-service-boundaries.md
  docs/adr/0003-pure-calendar-domain-effectful-payment-domain.md
  docs/adr/0004-cloudflare-workers-as-deployment-target.md
  docs/adr/0005-temporal-polyfill.md
  docs/adr/0006-caller-owned-calculation-caches.md
  docs/adr/0007-persisted-client-state-is-obfuscated-not-encrypted.md
  docs/adr/0008-premium-derived-from-payment.md
  docs/docs-consistency.test.ts
  docs/plans/2026-07-31-guide-sweep-findings.md
  docs/plans/sweep-findings.md
  environment.d.ts
  lintstagedrc.json
  next-env.d.ts
  used.json
  vitest.config.ts
  wrangler.toml
Due: none

refactor(docs): name every regex in the consistency suite
  docs/docs-consistency.test.ts
Due: none

fix(build): repair the TypeScript 7 migration, which had broken every deploy
  CLAUDE.md
  docs/docs-consistency.test.ts
  next.config.ts
  tsconfig.json
Due: none

revert(deps): go back to TypeScript 6 and drop the experimental Next flag
  CLAUDE.md
  README.md
  docs/docs-consistency.test.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

test(docs): parse for comments instead of matching delimiters by hand
  docs/docs-consistency.test.ts
Due: none

fix: make three more tests able to fail, and correct four doc claims
  CLAUDE.md
  src/ui/CLAUDE.md
  src/ui/modules/core/CLAUDE.md
  src/ui/modules/core/animate/base/Checkbox.test.tsx
  src/ui/modules/core/animate/base/Collapsible.test.tsx
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

fix: make Collapsible and Checkbox tests grade the component, not the mock
  src/__probe2__/tail.ts
  src/ui/modules/core/animate/base/Checkbox.test.tsx
  src/ui/modules/core/animate/base/Collapsible.test.tsx
  src/ui/modules/core/animate/base/Collapsible.tsx
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

fix: close the no-comments rule's blind spot, and three more false-green test files
  CLAUDE.md
  docs/docs-consistency.test.ts
  src/__probe2__/tail.ts
  src/ui/modules/core/animate/base/Accordion.test.tsx
  src/ui/modules/core/animate/base/DropdownMenu.test.tsx
  src/ui/modules/core/animate/effects/AutoHeight.test.tsx
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed
