Repository fbuireu/forever-pto: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:all, npm run lint:changed, npm run test:ut:changed

fix(ci): make the deploy scripts runnable
  .github/scripts/delete-preview-worker.sh
  .github/scripts/deploy-worker.sh
  .github/scripts/set-worker-secrets.sh
  .github/workflows/_deploy.yml
  .github/workflows/cleanup-development.yml
Due: none

fix(ci): use an em dash in the deploy message, and drop the scripts that were not the fix
  .github/scripts/delete-preview-worker.sh
  .github/scripts/deploy-worker.sh
  .github/scripts/set-worker-secrets.sh
  .github/workflows/_deploy.yml
  .github/workflows/cleanup-development.yml
  CLAUDE.md
Due: none

fix(ci): unblock the production deploy by dropping --message
  .github/workflows/_deploy.yml
  CLAUDE.md
Due: none

chore(release): 1.7.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e78dc93c1005f1c364b1187e7a0d8eb47ee47316
Due: none

chore(ci): drop the deploy trace now the expanded command is on record
  .github/workflows/_deploy.yml
Due: none

fix: domain bugs
  CONTEXT.md
  src/application/CLAUDE.md
  src/application/dto/holiday/dto.ts
  src/application/email/templates/Contact.test.tsx
  src/application/email/templates/Contact.tsx
  src/application/export/generateIcs.test.ts
  src/application/export/generateIcs.ts
  src/application/shared/utils/dates.test.ts
  src/application/shared/utils/dates.ts
  src/domain/calendar/CLAUDE.md
  src/domain/calendar/const.ts
  src/domain/calendar/utils/helpers.test.ts
  src/infrastructure/clients/CLAUDE.md
  src/infrastructure/clients/tutorial/driver/client.test.ts
  src/infrastructure/clients/tutorial/driver/client.tsx
  src/infrastructure/services/holidays/CLAUDE.md
  src/infrastructure/services/holidays/getHolidays.test.ts
  src/infrastructure/services/holidays/getHolidays.ts
  src/ui/modules/CLAUDE.md
  src/ui/modules/core/CLAUDE.md
  src/ui/modules/core/animate/base/Tooltip.test.tsx
  src/ui/modules/core/animate/base/Tooltip.tsx
  src/ui/modules/shared/cookie-consent/CookieConsent.tsx
  src/ui/modules/sidebar/components/CalendarExport.tsx
  src/ui/modules/sidebar/components/PtoCalculator.test.tsx
  src/ui/modules/sidebar/components/PtoCalculator.tsx
  src/ui/modules/sidebar/components/PtoSalaryCalculator.test.tsx
  src/ui/modules/sidebar/components/PtoSalaryCalculator.tsx
  src/ui/modules/tracking/BetterStackTracking.test.tsx
  src/ui/modules/tracking/BetterStackTracking.tsx
  src/ui/utils/cookie.test.ts
  src/ui/utils/cookie.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

chore(release): 1.7.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b0708076ae823a46c80b1037646704be636d1e80
Due: none

feat: add text-scale meta tag to page metadata
  src/app/[locale]/(app)/payment/confirmation/metadata.ts
  src/app/[locale]/(app)/planner/metadata.ts
  src/app/[locale]/(marketing)/legal/cookie-policy/metadata.ts
  src/app/[locale]/(marketing)/legal/legal-notice/metadata.ts
  src/app/[locale]/(marketing)/legal/privacy-policy/metadata.ts
  src/app/[locale]/(marketing)/legal/terms-of-service/metadata.ts
  src/app/[locale]/(marketing)/metadata.ts
Due: npm run format:all, npm run lint:changed

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a45a0ede91f5f09539fb259903d59fca799bada3
Due: none

fix(seo): serve each route its own markdown twin, and derive robots from one route table
  src/app/CLAUDE.md
  src/app/[locale]/(app)/payment/confirmation/metadata.ts
  src/app/[locale]/(app)/planner/metadata.ts
  src/app/[locale]/(marketing)/legal/cookie-policy/metadata.ts
  src/app/[locale]/(marketing)/legal/legal-notice/metadata.ts
  src/app/[locale]/(marketing)/legal/privacy-policy/metadata.ts
  src/app/[locale]/(marketing)/legal/terms-of-service/metadata.ts
  src/app/[locale]/(marketing)/metadata.ts
  src/app/robots.test.ts
  src/app/robots.ts
  src/app/sitemap.ts
  src/infrastructure/CLAUDE.md
  src/infrastructure/markdown/buildMarkdownPage.test.ts
  src/infrastructure/markdown/buildMarkdownPage.ts
  src/infrastructure/seo/buildMetadata.ts
  src/infrastructure/seo/routes.test.ts
  src/infrastructure/seo/routes.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

refactor: scan the free-day runs once, and read consent through one module
  src/application/stores/CLAUDE.md
  src/domain/calendar/CLAUDE.md
  src/domain/calendar/metrics/utils/helpers.ts
  src/domain/calendar/metrics/utils/streaks.test.ts
  src/domain/calendar/metrics/utils/streaks.ts
  src/domain/calendar/pipeline.test.ts
  src/infrastructure/api/CLAUDE.md
  src/infrastructure/api/operations/contact.test.ts
  src/infrastructure/api/operations/payment.test.ts
  src/infrastructure/workers/CLAUDE.md
  src/infrastructure/workers/utils/serializers.ts
  src/infrastructure/workers/worker.ts
  src/ui/modules/CLAUDE.md
  src/ui/modules/pages/homepage/sections/shared.ts
  src/ui/modules/shared/cookie-consent/CookieConsent.tsx
  src/ui/modules/shared/cookie-consent/utils/consent.ts
  src/ui/modules/tracking/BetterStackTracking.tsx
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

docs: drop docs/plans now every finding in it is closed
  CLAUDE.md
  docs/plans/2026-07-31-guide-sweep-findings.md
  docs/plans/2026-08-14-next-16-3-typescript-7.md
  docs/plans/sweep-findings.md
Due: none

Refactor/seo route table (#337)
  CLAUDE.md
  docs/plans/2026-07-31-guide-sweep-findings.md
  docs/plans/2026-08-14-next-16-3-typescript-7.md
  docs/plans/sweep-findings.md
  src/app/CLAUDE.md
  src/app/[locale]/(app)/payment/confirmation/metadata.ts
  src/app/[locale]/(app)/planner/metadata.ts
  src/app/[locale]/(marketing)/legal/cookie-policy/metadata.ts
  src/app/[locale]/(marketing)/legal/legal-notice/metadata.ts
  src/app/[locale]/(marketing)/legal/privacy-policy/metadata.ts
  src/app/[locale]/(marketing)/legal/terms-of-service/metadata.ts
  src/app/[locale]/(marketing)/metadata.ts
  src/app/robots.test.ts
  src/app/robots.ts
  src/app/sitemap.ts
  src/application/stores/CLAUDE.md
  src/domain/calendar/CLAUDE.md
  src/domain/calendar/metrics/utils/helpers.ts
  src/domain/calendar/metrics/utils/streaks.test.ts
  src/domain/calendar/metrics/utils/streaks.ts
  src/domain/calendar/pipeline.test.ts
  src/infrastructure/CLAUDE.md
  src/infrastructure/api/CLAUDE.md
  src/infrastructure/api/operations/contact.test.ts
  src/infrastructure/api/operations/payment.test.ts
  src/infrastructure/markdown/buildMarkdownPage.test.ts
  src/infrastructure/markdown/buildMarkdownPage.ts
  src/infrastructure/seo/buildMetadata.ts
  src/infrastructure/seo/routes.test.ts
  src/infrastructure/seo/routes.ts
  src/infrastructure/workers/CLAUDE.md
  src/infrastructure/workers/utils/serializers.ts
  src/infrastructure/workers/worker.ts
  src/ui/modules/CLAUDE.md
  src/ui/modules/pages/homepage/sections/shared.ts
  src/ui/modules/shared/cookie-consent/CookieConsent.tsx
  src/ui/modules/shared/cookie-consent/utils/consent.ts
  src/ui/modules/tracking/BetterStackTracking.tsx
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

ci: normalize the deploy workflow against contribKit, and restore --message
  .github/workflows/_deploy.yml
Due: none

ci: normalize step names to sentence case
  .github/actions/prepare-env/action.yml
  .github/workflows/zizmor.yml
Due: none

ci: drop the emoji from the zizmor workflow, job and step names
  .github/workflows/zizmor.yml
Due: none

fix(ci): make the deploy message space-free so it survives wrangler's autoconfig re-spawn
  .github/workflows/_deploy.yml
Due: none

ci: normalize the deploy workflow against contribKit, and restore --message (#342)
  .github/actions/prepare-env/action.yml
  .github/workflows/_deploy.yml
  .github/workflows/zizmor.yml
Due: none

fix(build): disable partialPrefetching to test the 404 Worker crash
  next.config.ts
Due: none

test(deps): revert the four render-path deps to bisect the 404 crash
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): bump next to 16.3.1 to test the 404 Worker crash
  package.json
  pnpm-lock.yaml
Due: none

test(deps): relax minimumReleaseAge so CI can install next 16.3.1
  pnpm-workspace.yaml
Due: none

fix(deps): pin next to 16.2 and typescript to 6 until the adapter supports 16.3
  CLAUDE.md
  docs/adr/0009-next-16-2-pinned-by-the-cloudflare-adapter.md
  docs/docs-consistency.test.ts
  next-env.d.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): pin next to 16.2 and typescript to 6 until the adapter supports 16.3 (#349)
  CLAUDE.md
  docs/adr/0009-next-16-2-pinned-by-the-cloudflare-adapter.md
  docs/docs-consistency.test.ts
  next-env.d.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
Due: none

fix(markdown): translate without next-intl/server so the Worker stops throwing
  src/infrastructure/CLAUDE.md
  src/infrastructure/markdown/buildMarkdownPage.test.ts
  src/infrastructure/markdown/buildMarkdownPage.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

fix(markdown): translate without next-intl/server so the Worker stops throwing (#353)
  src/infrastructure/CLAUDE.md
  src/infrastructure/markdown/buildMarkdownPage.test.ts
  src/infrastructure/markdown/buildMarkdownPage.ts
Due: npm run format:all, npm run lint:changed, npm run test:ut:changed

[ImgBot] Optimize images
  docs/public/favicon.svg
  docs/public/og.png
  docs/src/assets/logo-dark.svg
  docs/src/assets/logo-light.svg
  public/static/images/forever-pto-logo.png
Due: none

docs: point the Dialog demo at the primitive that still exists
  docs/src/components/demos/DialogDemo.tsx
Due: none

chore(release): 1.8.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  dc08c05c9744ad0d69c0289d69f01f0769a47872
Due: none

chore(ci): title docs-only dependency updates as docs, not fix
  .github/renovate.json
Due: none

docs: unbreak the wiki build, which was failing three ways
  d358.txt
  docs/package.json
  docs/src/components/demos/AnimationComponentsDemo.tsx
  docs/src/components/demos/TextDemo.tsx
  docs/src/content/docs/design-system/animation/components.mdx
  docs/src/content/docs/design-system/animation/text.mdx
  pnpm-lock.yaml
Due: none

Path conditions:
  npm run format:all: any of: src/**/*.{ts,tsx,css}
  npm run lint:changed: any of: src/**/*.{ts,tsx,css}
  npm run test:ut:changed: any of: src/**/*.{test,spec}.{ts,tsx}
